.list-group
  %a.list-group-item{:href => page_path('export')}
    Export
  %a.list-group-item{:href => page_path('networks')}
    Networks
  %a.list-group-item{:href => page_path('organizations')}
    Organizations
  %a.list-group-item{:href => page_path('sites')}
    Sites
  %a.list-group-item{:href => page_path('sources')}
    Sources