<p> Description  </p>
<p> A partial list of fields from the Variables table</p>
<br>
<p> Format Types </p>
  <ul>
    <li>json</li>
  </ul>
	<br>
	<p> Table Fields </p>
	<table class="table">
		<tr>
		  <th>Field Name</th>
		  <th>Description</th>
		  <th>Data Type</th>
		</tr>
		<tr>
		  <td>variableid</td>
		  <td>Primary key. Unique integer identifier.</td>
		  <td>integer</td>
		</tr>
		<tr>
		  <td>variablecode</td>
		  <td>Text to identify the variable</td>
		  <td>nvarchar(50)</td>
		</tr>
		<tr>
		  <td>variablename</td>
		  <td>Selected from the VariableNameCV table's controlled vocabulary</td>
		  <td>nvarchar(255)</td>
		</tr>
		<tr>
		  <td>samplemedium</td>
		  <td>Selected from the SampleMediumCV table's controlled vocabulary</td>
		  <td>nvarchar(255)</td>
		</tr>
		<tr>
		  <td>valuetype</td>
		  <td>Selected from the ValueTypeCV table's controlled vocabulary</td>
		  <td>nvarchar(255)</td>
		</tr>
		<tr>
		  <td>datatype</td>
		  <td>Selected from the DataTypeCV table's controlled vocabulary.  If the data type is categorical, then there must be at least one associated CategoricalID to the VariableID.</td>
		  <td>nvarchar(255)</td>
		</tr>
		<tr>
		  <td>generalcategory</td>
		  <td>Selected from the GeneralCategoryCV table's controlled vocabulary</td>
		  <td>nvarchar(255)</td>
		</tr>
	</table>