<h2>Welcome to the IMIQ-API Site</h2>
<%= show_api_list %>

<div class="panel panel-default">
  <div class="panel-heading"><h1 class="panel-title">/sites.json</h1></div>
  <div class="panel-body">
    <fieldset>
      <legend>Description</legend>
      <p>This provides a list of sites from the seriescatalog_62 view</p>
    </fieldset>

    <fieldset>
      <legend>Output formats</legend>
      <ul>
        <li>json</li>
        <li>geojson</li>
      </ul>
    </fieldset>
    <fieldset>
      <legend>Parameters</legend>
      <ul>
        <li>json</li>
        <li>geojson</li>
      </ul>
    </fieldset>
  </div>
</div>