<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          /sites.{format}
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body">
		    <p> Description  </p>
				<p> Site information that describes from where the data values were sampled (seriescatalog_62 view).</p>
				<br>
				<p> Format Types </p>
				  <ul>
				    <li>json</li>
						<li>geojson</li>
				  </ul>
			  <br>
			  <p> Search Parameters </p>
				  <table class="table">
					  <tr>
					    <th>Field Name</th>
					    <th>Table</th>
							<th>Data Type</th>
					  </tr>
						<tr>
							<td>datatype</td>
							<td>Variables</td>
							<td>string</td>
						</tr>
						<tr>
							<td>generalcategory</td>
							<td>Variables</td>
							<td>string</td>
						</tr>		
						<tr>
							<td>samplemedium</td>
							<td>Variables</td>
							<td>string</td>
						</tr>			
						<tr>
							<td>variablename</td>
							<td>Variables</td>
							<td>string</td>
						</tr>			
						<tr>
							<td>valuetype</td>
							<td>Variables</td>
							<td>string</td>
						</tr>	
						<tr>
							<td>organizationcode</td>
							<td>Organization Descriptions</td>
							<td>string</td>
						</tr>						
				  </table>
				<br>	
        <%= render "sitestable"%>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          /sites/{siteid}.{format}
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
			  <div id="name">
			    <p> Description  </p>
					<p> Site information by {siteid} that describes from where the data values were sampled (seriescatalog_62 view).</p>
					<br>
					<p> siteid </p>
				  <ul>
				    <li>Integer uniquely identifying each site; derived from Sites table.</li>
				  </ul>					
					<p> Format Types </p>
					  <ul>
					    <li>json</li>
					  </ul>
				  <br>
					<%= render "sitestable"%>
			  </div>
		  </div>	
		</div>
	</div>
	<div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          /variables.{format}
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
		    <p> Description  </p>
				<p> This table provides a complete description of measured variables.</p>
				<br>
				<p> Format Types </p>
				  <ul>
				    <li>json</li>
				  </ul>
					<br>
					<p> Table Fields </p>
					<table class="table">
						<tr>
						  <th>Field Name</th>
						  <th>Description</th>
						  <th>Data Type</th>
						</tr>
						<tr>
						  <td>variableid</td>
						  <td>Primary key. Unique integer identifier.</td>
						  <td>integer</td>
						</tr>
						<tr>
						  <td>variablecode</td>
						  <td>Text to identify the variable</td>
						  <td>nvarchar(50)</td>
						</tr>
						<tr>
						  <td>variablename</td>
						  <td>Selected from the VariableNameCV table's controlled vocabulary</td>
						  <td>nvarchar(255)</td>
						</tr>
						<tr>
						  <td>samplemedium</td>
						  <td>Selected from the SampleMediumCV table's controlled vocabulary</td>
						  <td>nvarchar(255)</td>
						</tr>
						<tr>
						  <td>valuetype</td>
						  <td>Selected from the ValueTypeCV table's controlled vocabulary</td>
						  <td>nvarchar(255)</td>
						</tr>
						<tr>
						  <td>datatype</td>
						  <td>Selected from the DataTypeCV table's controlled vocabulary.  If the data type is categorical, then there must be at least one associated CategoricalID to the VariableID.</td>
						  <td>nvarchar(255)</td>
						</tr>
						<tr>
						  <td>generalcategory</td>
						  <td>Selected from the GeneralCategoryCV table's controlled vocabulary</td>
						  <td>nvarchar(255)</td>
						</tr>
					</table>
      </div>
    </div>
	</div>
	<div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
	          /sources.{format}
	        </a>
	      </h4>
	    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
		    <p> Description  </p>
				<p> This table contains source information for the Sites that are populating the database.</p>
				<br>
				<p> Format Types </p>
				  <ul>
				    <li>json</li>
				  </ul>
					<br>
					<p> Table Fields </p>
					<table class="table">
						<tr>
						  <th>Field Name</th>
						  <th>Description</th>
						  <th>Data Type</th>
						</tr>
						<tr>
						  <td>sourceid</td>
						  <td>Primary key.  Unique integer identifier.</td>
						  <td>integer</td>
						</tr>
						<tr>
						  <td>organization</td>
						  <td>Name of the organization that collected or published the data.</td>
						  <td>nvarchar(255)</td>		
						</tr>
						<tr>
							<td>sourcedescription</td>
						  <td>A more detailed description of where the dadta was actually obtained and/or is currently stored.</td>
						  <td>nvarchar(MAX)</td>					
						</tr>
						<tr>
							<td>sourcerole</td>
						  <td>Notes whether the source is the 'originator', 'publisher', or both.</td>
						  <td>nvarchar(50)</td>					
						</tr>
						<tr>
							<td>sourcelink</td>
						  <td>Link that can be pointed at the original data file, associated metadata, and/or project website.</td>
						  <td>nvarchar(255)</td>					
						</tr>
						<tr>
							<td>phone</td>
						  <td>Phone number of contact</td>
						  <td>nvarchar(255)</td>					
						</tr>
						<tr>
							<td>email</td>
						  <td>Email address of contact</td>
						  <td>nvarchar(255)</td>					
						</tr>
						<tr>
							<td>address</td>
						  <td>Stress address of contact</td>
						  <td>nvarchar(255)</td>					
						</tr>
						<tr>
							<td>city</td>
						  <td>City associated with contact person's mailing address</td>
						  <td>nvarchar(255)</td>					
						</tr>						
						<tr>
							<td>state</td>
						  <td>State/territory associated with contact person's mailing address</td>
						  <td>nvarchar(255)</td>					
						</tr>
						<tr>
							<td>zipcode</td>
						  <td>Zip code associated with contact's mailing address</td>
						  <td>nvarchar(255)</td>					
						</tr>
						<tr>
							<td>citation</td>
						  <td>Citation to be used when the data from this source is used.</td>
						  <td>nvarchar(MAX)</td>					
						</tr>
						<tr>
							<td>metadataid</td>
						  <td>Integer identifier that references the record in the ISOMetadata table.</td>
						  <td>integer</td>					
						</tr>
					</table>
			</div>
  </div>
</div>
