%h1.doc-heading= DerivedValuesController::TITLE[:title]
%p.lead= DerivedValuesController::TITLE[:description]

               
= render partial: 'welcome/collapse_api_params', locals:{api:DerivedValuesController::API}