%h1.doc-heading= OrganizationsController::TITLE[:title]
%p.lead= OrganizationsController::TITLE[:description]
= render partial: 'welcome/collapse_api_params', locals:{api:OrganizationsController::API}
