// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#wrapper{  
    width:66%;  
    margin:auto;  
}

section#header {
  h1 { font-size: 40px; text-indent:50px;}
  h2 { font-size: 20px; }
}

section#footer {
  text-indent: 50px
}
